/*
Theme Name: Ask me
Version: 1.0
Theme URI: www.2code.info
Author: 2code
Author URI: www.2code.info
design by: 2code
url: www.2code.info
*/
/* Basic Styles  */
@import url("css/bootstrap.min-ar.css");
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body,.qoute p,input,.button,label,.more,blockquote,.widget ul li,textarea,h1, h2, h3, h4, h5, h6,select {
	font-family: "Droid Arabic Kufi","Open Sans", Arial, sans-serif;
}
.question-favorite,.question-category,.question-date,.question-comment,.question-view,.question-category a,.question-comment a,.question-answered,.widget_social li span,.widget_stats li span,.widget_highest_points .comment,.related-item span,.copyrights,.error_404 h2,.registe-user span,.user-profile-widget .ul_list li span span,.pagination a,.pagination span,.question-reply,.block-stats-2,.block-stats-3,.block-stats-4,.question-vote-result,.single-question-vote-result,.main-content .page-content .boxedtitle.page-title h2 span.color,.commentlist li .date,.question-type-poll .progressbar-title,.post .post-meta .meta-author,.post .post-meta .meta-date,.post .post-meta .meta-categories a,.post .post-meta .meta-comment a {
	font-family: Tahoma,"Droid Arabic Kufi","Open Sans", Arial, sans-serif;
}
blockquote,.qoute {
	font-weight: normal !important;
}
.button {
	margin: 5px 0 5px 5px;
}
.button i {
	margin-left: 10px;
	margin-right: 0;
}
.f_left {
	float: right !important;
}
.f_right {
	float: left !important;
}
/* margin */
.margin_r_0_l_10 {
	margin-left: 0 !important;
	margin-right: 10px !important;
}
.margin_r_10_l_0 {
	margin-right: 0 !important;
	margin-left: 10px !important;
}
.margin_r_5 {
	margin-left: 5px;
	margin-right: 0;
}
.margin_r_7 {
	margin-left: 7px;
	margin-right: 0;
}
.margin_r_10 {
	margin-left: 10px;
	margin-right: 0;
}
.margin_r_15 {
	margin-left: 15px;
	margin-right: 0;
}
.margin_r_20 {
	margin-left: 20px;
	margin-right: 0;
}
.margin_l_5 {
	margin-right: 5px;
	margin-left: 0;
}
.margin_l_7 {
	margin-right: 7px;
	margin-left: 0;
}
.margin_l_10 {
	margin-right: 10px;
	margin-left: 0;
}
.margin_l_15 {
	margin-right: 15px;
	margin-left: 0;
}
.margin_l_20 {
	margin-right: 20px;
	margin-left: 0;
}
/* blockquote  */
blockquote {
	border-left: none;
	border-right-width: 4px;
	border-right-style: solid;
}
/* Aligns  */
.t_left {
	text-align: right;
}
.t_right {
	text-align: left;
}
.table-style-1 table,.table-style-2 table {
	text-align: right;
}
/* Column */
.one_half, .one_third, .two_third, .three_fourth, .two_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .two_sixth, .three_sixth, .four_sixth, .five_sixth {
	margin-left: 4%;
	margin-right: 0;
	float: right;
}
.one_fourth {
	margin-right: 0;
	margin-left: 2%;
}
.two_fourth {
	margin-right: 0;
	margin-left: 2%; 
}
.three_fourth {
	margin-right: 0;
	margin-left: 2%;
}
.last {
	margin-left: 0 !important;
	margin-right: inherit;
	clear: left;
}
/* RTL */
body {
	direction: rtl;
}
h1, h2, h3, h4, h5, h6, p, blockquote, input, ul, ol, li {
	direction: rtl;
}
.loader {
	right: 0;
	left: inherit;
}
.loader_favorite {
	float: right;
	margin: 0 0 0 10px;
}
/* Login panel */
.login-panel input[type="text"],.login-panel input[type="password"] {
	padding-right: 37px;
	padding-left: 0;
}
/* Panel pop */
.panel-pop {
	right: 50%;
	margin-right: -290px;
	left: inherit;
	margin-left: 0;
}
.panel-pop h2 i {
	float: left;
}
/* header-top */
#header-top .menu-alert {
	float: right;
}
.header-top-nav li {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.header-top-nav li::after {
	float: right;
	margin-right: 10px;
	margin-left: 0;
}
.header-top-nav li a {
	float: right;
}
.header-top-nav li i {
	margin-left: 5px;
	margin-right: 0;
}
.header-search {
	float: left;
}
.header-search input {
	padding-left: 0;
	padding-right: 30px;
}
.header-search button {
	right: 0;
	left: inherit;
}
/* header */
#header .menu-alert {
	float: left;
}
#header .logo {
	float: right;
}
/* navigation */
.navigation {
	float: left;
}
.navigation > .header-menu > ul li {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.navigation > .header-menu > ul li:last-child {
	margin-left: 0;
}
.navigation > .header-menu > ul > li > a {
	float: right;
}
.navigation li ul li ul {
	right: 201px;
	left: inherit;
}
.navigation .header-menu ul > li ul {
	right: 0;
	left: inherit;
}
.navigation .header-menu ul > li ul ul {
	right: 200px;
	left: inherit;
}
.navigation li ul li a {
	text-align: right;
}
.menu-nav-arrow {
	margin-right: 5px;
	margin-left: 0;
}
.navigation .header-menu ul > li ul li .menu-nav-arrow {
	float: left;
}
/* fixed-nav */
#header.fixed-nav {
	right: 0;
	left: inherit;
}
.boxed #header.fixed-nav,.boxed2 #header.fixed-nav {
	right: inherit;
	left: inherit;
}
/* Navigation mobile */
.navigation_mobile {
	float: left;
}
.navigation_mobile > ul {
	right: 0;
	left: inherit;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
}
.navigation_mobile_click:before {
	left: 0;
	right: inherit;
}
.navigation_mobile > ul li {
	text-align: right;
}
.navigation_mobile > ul a i {
	margin-left: 5px;
	margin-right: 0;
}
.navigation_mobile > ul li ul li {
	margin-right: 10px;
	margin-left: 0;
}
.navigation_mobile > ul li ul li:before {
	margin-left: 8px;
	margin-right: 0;
}
/* header_2 */
#header.header_2 .logo {
	float: left;
}
#header.header_2 .navigation {
	float: right;
}
/* header_3 */
#header.header_3 .navigation .header-menu ul > li ul li,#header.header_3 .navigation .header-menu ul > li ul li a {
	float: right;
}
/* social_icons */
.social_icons ul {
	float: left;
}
.social_icons ul li {
	float: right;
	margin-right: 20px;
	margin-left: 0;
}
.social_icons.f_left ul li {
	margin-left: 20px;
	margin-right: 0;
}
/* ask-me */
.ask-me .col-md-9 form {
	float: left;
}
.ask-me .col-md-9 p i,.ask-me .col-md-12 p i {
	right: 10px;
	left: inherit;
}
.ask-me .publish-question {
	left: 10px;
	right: inherit;
}
.ask-me .col-md-12 a {
	margin-left: 30px;
	margin-right: 0;
}
.ask-me .col-md-12 .publish-question {
	left: 6px;
	right: inherit;
}
/* page-content */
.page-content .boxedtitle,.main-content .boxedtitle {
	padding-right: 20px;
	padding-left: 0;
}
.main-content .page-content .boxedtitle.page-title h2 {
	margin-right: 0;
	margin-left: 20px;
}
.comment-edit-link,.report_c {
	margin-left: 10px;
	margin-right: 0;
}
.single-question-vote li.loader_3 {
	margin: 0 0 0 5px;
}
/* question */
.question-inner {
	margin-right: 101px;
	margin-left: 0;
}
.single-question .question-inner {
	margin-right: 0;
	margin-left: 0;
}
.question-author {
	right: 20px;
	left: inherit;
	float: right;
}
.question-author-img span {
	right: 0;
	left: inherit;
}
.question-type {
	margin-left: 10px;
	margin-right: 0;
}
.question-type-main {
	left: 77px;
	right: inherit;
}
.question-type-main i {
	margin-right: 0;
	margin-left: 5px;
}
.single-question .question-type {
	right: 0;
	left: inherit;
}
.single-question.question h2 {
	margin-right: 20px;
	margin-left: 0;
}
.question h2 {
	margin-right: 101px;
	margin-left: 0;
	padding-left: 161px;
	padding-right: 0;
}
.post .boxedtitle i,.single-question-title i {
	margin-left: 10px;
	margin-right: 0;
}
.question-vote {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.question-user-vote {
	margin-left: 10px;
	margin-right: 0;
}
.user-question h3 {
	padding-left: 89px;
	padding-right: 0;
}
.user-question .question-type-main {
	left: 20px;
	right: inherit;
}
.single-question .question-vote {
	margin-right: 0;
	margin-left: 0;
}
.question-vote li {
	float: right;
}
.question-vote-up,.comment-vote-up,.question-vote-down,.comment-vote-down {
	float: right;
}
.question-vote-up:before,.comment-vote-up:before,.question-vote-down:before,.comment-vote-down:before {
	float: right;
}
.question-vote-up i,.comment-vote-up i,.question-vote-down i,.comment-vote-down i,.question-vote-up i:before,.comment-vote-up i:before,.question-vote-down i:before,.comment-vote-down i:before {
	float: left;
}
.question-vote-result,.single-question-vote-result {
	float: right;
}
.single-question-vote-result {
	float: left;
}
.single-question-vote > li:first-child a {
	margin-left: 10px;
	margin-right: 0;
}
.single-question-vote-up,.single-question-vote-down {
	float: left;
	margin-left: 5px;
	margin-right: 0;
}
.question-details {
	float: right;
}
.single-question .question-details {
	margin-left: 0;
	margin-right: 0;
}
.question-reply {
	margin-left: 10px;
	margin-right: 0;
}
.question-reply,.question-date,.question-view,.question-comment,.question-category,.question-tags,.post-tags,.question-favorite,.question-answered {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.question-view {
	margin-left: 0;
	margin-right: 0;
}
.question-date i,.question-view i,.question-comment i,.question-category i,.question-tags i,.post-tags i,.question-reply i,.question-answered i,.question-favorite i,.share-inside i {
	margin-left: 5px;
	margin-right: 0;
}
.question-tags,.post-tags {
	float: right;
}
.share-inside {
	float: right;
}
.share-inside-warp {
	right: 20px;
	left: inherit;
}
.single-post .share-inside {
	margin-left: 0;
	margin-right: 0;
}
.single-post .share-inside-warp {
	right: 20px;
	left: inherit;
}
.share-inside-l-arrow:before {
	right: 21px;
	left: inherit;
}
.share-inside-f-arrow:before {
	right: 20px;
	left: inherit;
}
.share-inside-warp ul li a {
	margin-left: 10px;
	margin-right: 0;
}
.question-report {
	float: left;
	left: 20px;
	right: inherit;
}
.question-answered {
	float: right;
}
.explain-reported a:last-child {
	margin-right: 10px;
	margin-left: 0;
}
.question-remove,.question-edit,.question-close,.question-open {
	margin-left: 10px;
	margin-right: 0;
}
.question-tags,.post-tags {
	float: left;
	margin-left: 0;
	margin-right: 0;
}
.question-favorite,.question-category,.question-date,.question-comment,.question-view,.question-category a,.question-comment a {
	float: right;
}
.load-questions i {
	margin-left: 10px;
	margin-right: 0;
}
input.ask_captcha,.ask_captcha_img,.form-add-point input,#respond input.ask_captcha {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
/* user profile */
.user-profile-widget .ul_list li {
	float: right;
}
.user-profile-widget .ul_list li:nth-child(2n+1) {
	margin-left: 2%;
	margin-right: 0;
}
.user-follow-me {
	margin-left: 15px;
	margin-right: 0;
}
.user-profile-img {
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
.is-login-left {
	margin-left: 20px;
	margin-right: 0;
}
.user_quick_links li i {
	margin-left: 5px;
	margin-right: 0;
}
.user-points h3 {
	float: right;
	margin-left: 0;
	margin-right: 0;
	padding-left: 20px;
	padding-right: 0;
}
.user-points .question-user-vote,.user-points .question-vote-result {
	margin-left: 20px;
	margin-right: 0;
}
.user-points .question-user-vote {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}
/* block-stats */
.stats-head,.block-stats-1,.block-stats-2,.block-stats-3,.block-stats-4 {
	float: right;
}
.block-stats-4 {
	margin-left: 0;
	border-left: none !important;
	margin-right: 0;
	border-right: none !important;
}
/* User stats */
.user-stats-head {
}
.stats-head {
	border-left: 1px solid #dedede;
	border-right: none;
}
.user-stats-item div {
	border-left: 1px solid #e0e6ed;
	border-right: none;
}
/* Pagination */
.pagination {
	float: left;
}
.pagination a,.pagination span {
	margin-right: 0;
	margin-left: 5px;
	float: right;
}
.pagination a:last-child,.pagination span:last-child {
	margin-left: 0;
}
.pagination a.next.page-numbers,.pagination a.prev.page-numbers {
	padding: 3px 11px 3px 10px;
}
.pagination a.next.page-numbers {
	margin-left: 0;
	margin-right: 0;
}
.pagination a.prev.page-numbers i::before {
	content: "\f105";
}
.pagination a.next.page-numbers i::before {
	content: "\f104";
}
/* Advertising */
.advertising-4a .advertising-1 {
	margin-left: 8px;
	margin-right: 0;
}
.advertising-4a-2 .advertising-1 {
	margin-left: 18px;
	margin-right: 0;
}
.advertising-4a .advertising-1:nth-child(2n+2),.advertising-4a-2 .advertising-1:nth-child(2n+2) {
	margin-left: 0;
	margin-right: 0;
}
/* single */
.social_icon ul li {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}
.social_icon.f_right ul li {
	margin-left: 0;
	margin-right: 5px;
}
.post-next-prev .prev-post {
	float: right;
}
.post-next-prev .next-post {
	float: left;
}
.post-next-prev .prev-post a i::before {
	content: "\f101";
}
.post-next-prev .next-post a i::before {
	content: "\f100";
}
.author-image {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.about-author .author-image img {
	float: right;
}
.about-author .author-image a:before {
	right: 2px;
	left: inherit;
}
#related-posts h2 {
	margin-right: 0;
	margin-left: 0;
}
#related-posts li i {
	margin-right: 0;
	margin-left: 5px;
}
#related-posts li i::before {
	content: "\f100";
}
.related-posts li {
	margin-bottom: 10px;
}
.related-posts li i {
	margin-right: 0;
	margin-left: 5px;
}
.related-posts .post-type {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.related-item .question-type {
	float: right;
}
.related-item .question-comments {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
/* Comments */
.children {
	padding-right: 80px;
	padding-left: 0;
}
.comment-reply {
	float: left;
}
.comment-reply i {
	margin-left: 5px;
	margin-right: 0;
}
.commentlist li .avatar-img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.commentlist li .avatar-img img {
	float: right;
}
.comment-vote {
	float: right;
	margin-right: 0;
	margin-left: 0;
}
.comment .question-vote-result {
	margin-left: 20px;
	margin-right: 0;
}
.commentlist li .comment-meta {
	float: right;
}
.commentlist li .date {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.commentlist li .date i {
	margin-left: 5px;
	margin-right: 0;
}
/* Respond */
#respond-inputs p {
	margin-left: 2%;
	margin-right: 0;
	float: right;
}
#respond-inputs p.last {
	margin: 0;
	clear: none;
}
#respond input#submit {
	float: left;
}
#respond label.required span {
	margin-right: 3px;
	margin-left: 0;
}
/* Widgets */
/* Widget Social */
.widget_social li {
	float: right;
}
.widget_social li span {
	margin-right: 10px;
	margin-left: 0;
}
.widget_social li a small {
	padding-right: 10px;
	padding-left: 0;
}
.widget_social li i {
	float: left;
}
/* Widget Menu */
.widget_menu li a {
	border-right: 2px solid rgba(0,0,0,0);
	border-left: none;
}
.widget_menu li.current_page_item a {
	border-right-color: #2f3239;
	position: relative;
}
.widget_menu li.current_page_item a:before {
	right: 0;
	border-right: 4px solid #2f3239;
	border-left: none;
}
.widget_menu li a i {
	margin-left: 10px;
	margin-right: 0;
}
/* Widget Stats */
.sidebar_box ul li a:before {
	margin-left: 5px;
	margin-right: 0;
}
/* Highest points Widget */
.author-img {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.author-img img {
	float: right;
}
/* Search Widget */
.widget_search input[type="text"] {
	padding-right: 35px;
	padding-left: 0;
}
.widget_search .search-submit {
	right: 0;
	left: inherit;
}
/* Flickr Widget */
.widget_flickr a {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.widget_flickr a:nth-child(3n) {
	margin-left: 0;
	margin-right: 0;
}
/* Twitter Widget */
.widget_twitter ul li:before {
	margin-left: 5px !important;
	margin-right: 0 !important;
	float: right;
}
/* Portfolio  Widget */
.widget_portfolio .portfolio-widget-item {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.col-sm-3.sidebar .widget_portfolio .portfolio-widget-item:nth-child(4n) {
	margin-left: 10px;
	margin-right: 0;
}
.col-sm-3 .widget_portfolio .portfolio-widget-item:nth-child(3n),.col-sm-3.sidebar .widget_portfolio .portfolio-widget-item:nth-child(3n) {
	margin-left: 0;
	margin-right: 0;
}
.widget_portfolio .portfolio-widget-item .portfolio_img {
	float: right;
}
.widget_portfolio .portfolio-widget-item .portfolio_img:before,.popular_posts .popular_img a:before,.widget_flickr a:before {
	right: 0;
	left: inherit;
}
/* Popular Posts Widget */
.popular_img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
span.date i,span.comment i {
	margin-left: 5px;
	margin-right: 0;
}
/* Contact  Widget */
.widget_contact ul li p {
	margin-left: 0;
	margin-right: 25px;
}
.widget_contact ul li .icon_i span {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.widget_contact ul li .icon_i i {
	margin-left: 0;
	margin-right: 0;
}
/* Login  Widget */
.widget_login input[type="text"],.widget_search input[type="text"],.widget_login input[type="password"],.subscribe_widget input[type="text"] {
	padding-right: 37px;
	padding-left: 0;
}
/* sidebar position */
.sidebar {
	float: right;
}
.main-content > .row > .col-md-9 {
	float: left;
}
.page-left-sidebar .sidebar {
	float: left;
}
.page-left-sidebar > .row > .col-md-9 {
	float: right;
}
/* footer */
#footer .widget li::before {
	margin-left: 5px;
	margin-right: 0;
}
#footer .widget_twitter li::before, #footer .related-posts li::before, #footer .widget_contact li::before {
	margin: 0;
}
#footer-bottom .social_icons ul li {
	margin-left: 0;
	margin-right: 5px;
}
/* Tipsy */
.tipsy-arrow-e {
	border-right-color: #000;
}
.tipsy-arrow-w {
	border-left-color: #000;
}
.tipsy-n .tipsy-arrow {
	right: 50%;
	margin-right: -5px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.tipsy-nw .tipsy-arrow {
	right: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.tipsy-ne .tipsy-arrow {
	left: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.tipsy-s .tipsy-arrow {
	right: 50%;
	margin-right: -5px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.tipsy-sw .tipsy-arrow {
	right: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.tipsy-se .tipsy-arrow {
	left: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.tipsy-e .tipsy-arrow {
	left: 0;
	border-right-style: solid;
	border-left: none;
}
.tipsy-w .tipsy-arrow {
	right: 0;
	border-left-style: solid;
	border-right: none;
}
/* breadcrumbs */
.breadcrumbs .col-md-12 {
	overflow: hidden;
	height: 100%;
}
.breadcrumbs h1 {
	float: right;
}
.breadcrumbs h1 i {
	margin-left: 10px;
	margin-right: 0;
}
.crumbs {
	float: right;
}
.crumbs i {
	margin-left: 10px;
	margin-right: 0;
}
/* Forms */
.form-inputs p {
	margin-left: 2%;
	margin-right: 0;
	float: right;
}
.form-inputs p:last-child {
	margin-left: 0;
	margin-right: 0;
}
.form-style input[type="checkbox"],.form-style input[type="radio"] {
	float: right;
	margin-left: 10px;
	margin-right: 1px;
}
.form-style input[type="checkbox"] {
	margin-left: 10px;
	margin-right: 1px;
}
.form-style label.required span {
	margin-right: 3px;
	margin-left: 0;
}
.form-style input.submit {
	float: left;
}
.form-style-2 .form-inputs p {
	margin-left: 0;
	margin-right: 0;
}
.form-style-3 .form-inputs p {
	margin-left: 0;
	margin-right: 0;
}
.form-style-4 .form-inputs p:nth-child(2n) {
	margin-left: 0;
	margin-right: 0;
}
.form-style-5.form-style label {
	float: right;
	margin-left: 1%;
	margin-right: 0;
}
.form-style-5.form-style input[type="text"],.form-style-5.form-style input[type="email"],.form-style-5.form-style input[type="password"],.form-style-5.form-style textarea {
	float: right;
}
.form-description {
	margin-right: 18%;
	margin-left: 0;
}
/* Checkboxes and Radio inputs */
input[type="radio"]:checked::before {
	right: 1px;
	left: inherit;
}
/* Ask Question */
.ask-question .form-style label {
	float: right;
	margin-left: 1%;
	margin-right: 0;
}
.question-title,.question-username,.question-email,.question-textarea,.taglist .input input {
	float: right;
}
.del-poll-li {
	left: 6px;
	right: inherit;
}
.move-poll-li {
	right: 15px;
	left: inherit;
}
.taglist .tag {
	margin-left: 5px;
	margin-right: 0;
	float: right;
}
.taglist .tag a.delete:before {
	margin-right: 5px;
	margin-left: 0;
}
.fileinputs {
	float: right;
}
.fakefile {
	right: 0;
	left: inherit;
}
.fakefile button {
	text-align: right;
}
.fileinputs span {
	left: 7px;
	right: initial;
}
.fileinputs span i {
	margin-left: 5px;
	margin-right: 0;
}
.styled-select {
	clear: left;
}
.styled-select::before {
	left: 5px;
	right: inherit;
}
.question_poll {
	margin-left: 10px !important;
	margin-right: 0 !important;
	float: right;
}
.poll-description {
	float: right;
}
.form-style-3 .form-inputs p.add_poll {
	float: left;
	left: 42px;
	right: inherit;
}
.form-style-3 .form-inputs p .add_poll_button i {
	margin-left: 5px;
	margin-right: 0;
}
.question_poll_item {
	float: right;
	margin-right: 18%;
	margin-left: 0;
}
/* login */
.login-submit {
	float: right;
}
.rememberme {
	float: right;
}
ul.login-links {
	float: right;
}
.login-links i {
	margin-left: 10px;
	margin-right: 0;
}
.login-text i,.subscribe-text i,.widget_search .search-submit,.login-password i {
	right: 10px;
	left: inherit;
}
.login-text input,.subscribe-text input,.login-password input {
	padding-right: 37px;
	padding-left: 0;
}
.login-password a {
	left: 9px;
	right: inherit;
}
/* Box icons and icons */
.icon_i.f_left {
	margin-left: 15px;
	margin-right: 0;
}
.icon_i.f_right {
	margin-right: 15px;
	margin-left: 0;
}
.box_text .icon_circle,.box_text .icon_square,.box_text .icon_soft_r {
	margin-left: 10px;
	margin-right: 0;
}
.ul_icons li [class^="icon-"],.ul_icons li [class*=" icon-"],.ul_icons li [class^="social_icon-"],.ul_icons li [class*=" social_icon-"],.ul_icons li [class^="icons-"],.ul_icons li [class*=" icons-"] {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
h1 [class^="icons-"], h1 [class*=" icons-"], 
h2 [class^="icons-"], h2 [class*=" icons-"], 
h3 [class^="icons-"], h3 [class*=" icons-"], 
h4 [class^="icons-"], h4 [class*=" icons-"], 
h5 [class^="icons-"], h5 [class*=" icons-"], 
h6 [class^="icons-"], h6 [class*=" icons-"] {
	margin-left: 12px;
	margin-right: 0;
}
.icons [class^="icons-"], .icons [class*=" icons-"] {
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
.icons p {
	margin-left: 0;
	margin-right: 47px;
}
.icons h3 {
	margin-left: 0;
	margin-right: 47px;
}
/* Lists */
.ul_list li:before,.ul_list li i,.ul_list[class^="ul_list-icon-"] li:before,.ul_list li i[class^="icon-"],.ul_list[class*="ul_list-icon-"] li:before,.ul_list li i[class*="ul_list-icon-"],.ul_list[class^="ul_list-social_icon-"] li:before,.ul_list li i[class^="social_icon-"],.ul_list[class*="ul_list-social_icon-"] li:before,.ul_list li i[class*="social_icon-"] {
	margin-left: 9px;
	margin-right: 0;
}
.ul_list[class^="ul_list-icon-"] li:before,.ul_list[class*=" ul_list-icon-"] li:before,.ul_list[class^="ul_list-social_icon-"] li:before,.ul_list[class*=" ul_list-social_icon-"] li:before {
	margin-right: 0;
	margin-left: 0;
}
.ul_list_square ul li i,.ul_list_circle ul li i,i.ul_l_square,i.ul_l_circle {
	margin-left: 10px;
	margin-right: 0;
}
.ul_list li ul {
	margin-left: 0;
	margin-right: 30px;
}
.ul_icons li [class^="icons-"], .ul_icons li [class*=" icons-"] {
	float: none;
}
/* Accordion & Toggle */
.accordion .accordion-title a:before,.accordion .accordion-title.active a:before {
	float: left;
	left: 10px;
	right: inherit;
}
.accordion .accordion-title a i {
	margin-left: 8px;
	margin-right: 0;
}
.accordion.acc-style-2 .accordion-title a:before {
	left: 0;
	right: inherit;
}
/* Tabs */
.tab a {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}
.tabs-vertical .tab a {
	border-right: 2px solid rgba(0,0,0,0);
	border-left: none;
}
.tabs-vertical .tab a.current {
	border-left: none;
	border-right: none;
}
.tab a i,.tab a [class^="icons-"],.tab a [class*=" icons-"] {
	margin-left: 5px;
	margin-right: 0;
}
.tabs-style-2 .tab a,.tabs-style-3 .tab a {
    margin-left: -1px;
    margin-right: 0;
}
.tabs-vertical .tabs {
	float: right;
}
.tabs-vertical .tab a {
	margin-left: 0;
	margin-right: 0;
}
.tabs-vertical.tabs-style-2 .tab a.current,.tabs-vertical.tabs-style-3 .tab a.current {
    border-left-color: #FFF;
}
.tabs-vertical.tabs-style-2 .tabs,.tabs-vertical.tabs-style-3 .tabs {
	right: 1px;
	left: inherit;
}
.tabs-vertical.tabs-style-2 .tab a,.tabs-vertical.tabs-style-3 .tab a {
    margin-left: 0;
    margin-right: 0;
}
.tabs-vertical .tab-inner-warp {
	margin-right: 160px;
	margin-left: 0;
}
.tabs-vertical.tabs-long .tab-inner-warp {
	margin-right: 235px;
	margin-left: 0;
}
.tabs-style-2.tabs-vertical .tab-inner-warp,.tabs-style-3.tabs-vertical .tab-inner-warp {
	margin-right: 160px;
	margin-left: 0;
}
.tabs-style-2.tabs-vertical.tabs-long .tab-inner-warp,.tabs-style-3.tabs-vertical.tabs-long .tab-inner-warp {
	margin-right: 235px;
	margin-left: 0;
}
/* Alerts */
.alert-message i {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
/* Buttons */
.button .icons {
	margin-left: 5px;
	margin-right: 0;
}
/* Dropcaps */
.dropcap {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.dropcap.dropcap_square,.dropcap.dropcap_soft_r {
	margin-top: 5px 10px 0 0;
}
.dropcap.dropcap_circle {
	margin-top: 5px 10px 0 0;
}
/* Divider */
.divider span {
	float: right;
}
.divider-4:after {
	right: 0;
	left: inherit;
}
/* Quote */
.quote-left {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.quote-right {
	float: left;
	margin-left: 0;
	margin-right: 20px;
	border-right: none;
	border-left: 4px solid #888;
}
/* Callout */
.button_right {
	position: absolute;
	left: 30px;
	right: inherit;
}
.box_no_border.box_no_background.callout_warp .button_right {
	left: 0;
	right: inherit;
}
/* Carousel */
.images-warp ul li {
	margin-left: 30px !important;
	margin-right: 0 !important;
}
.images-warp .carousel-arrow {
	left: 20px;
	right: inherit;
}
/* Lightbox */
.light-box-images {
	right: 0;
	left: inherit;
}
.light-box-images i {
	right: 0;
	left: inherit;
}
/* Carousel */
.carousel-all ul {
	right: 0;
	left: inherit;
}
.carousel-all li {
	float: right;
}
.carousel-all ul li img {
	float: right;
}
.carousel-all.responsive {
	margin-right: 0;
	margin-left: 0;
}
.carousel-arrow {
	left: 4px;
	right: inherit;
}
a.carousel-prev {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
a.carousel-next {
	float: left;
}
.with-title .carousel-prev {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.with-title .carousel-next {
	float: left;
}
/* Testimonial */
.testimonial-f-arrow,.testimonial-l-arrow {
	border-right: 0;
}
.testimonial-f-arrow {
	right: 19px;
	left: inherit;
}
.testimonial-l-arrow {
	right: 20px;
	left: inherit;
}
.testimonial-client img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.testimonial-carousel .testimonial-warp {
    float: right;
	margin-left: 20px;
	margin-right: 0;
}
.carousel-pagination {
	left: 0;
	right: inherit;
}
.carousel-pagination a {
	margin-left: 5px;
	margin-right: 0;
}
.testimonial-warp-2 .carousel-pagination {
	left: 20px;
	right: inherit;
}
.testimonial-warp-2 .slides,.testimonial-carousel .slides {
	left: inherit !important;
	right: 0 !important;
	text-align: right !important;
}
/* Blog */
.single-post {
	padding-right: 0;
	padding-left: 0;
}
.post-type {
	right: 20px;
	left: inherit;
	float: right;
}
.post .post-type {
	margin-left: 10px;
	margin-right: 0;
}
.post .boxedtitle i {
	padding-left: 15px;
	padding-right: 0;
}
.post .post-meta .meta-author,.post .post-meta .meta-date,.post .post-meta .meta-categories a:last-child,.post .post-meta .meta-comment a {
	margin-left: 20px;
	margin-right: 0;
}
.post .post-meta .meta-author,.post .post-meta .meta-date,.post .post-meta .meta-categories,.post .post-meta .meta-comment {
	float: right;
}
.post .post-meta .meta-author i,.post .post-meta .meta-date i,.post .post-meta .meta-categories i,.post .post-meta .meta-comment i {
	margin-left: 5px;
	margin-right: 0;
}
.blog_2.post .post-img {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.post-read-more {
	float: left;
}
.post-read-more:before {
	margin-left: 5px;
	margin-right: 0;
}
/* Flex Slider */
.flex-direction-nav li a {
	border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
}
.flex-direction-nav li .flex-next {
	left: -50px;
	right: inherit;
}
.flex-direction-nav li .flex-prev {
	right: -50px;
	left: inherit;
	border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
}
.flexslider:hover .flex-direction-nav li .flex-next {
	left: 0;
	right: inherit;
}
.flexslider:hover .flex-direction-nav li .flex-prev {
	right: 0;
	left: inherit;
}
.flex-caption h2 {
	float: right;
}
.flex-caption h3 {
	float: right;
}
.flex-caption .text {
	right: 0;
	left: inherit;
}
.flex-caption .text .flex_title {
	float: right;
}
.flex-caption .text .flex_subtitle {
	float: right;
}
/* control nav */
.flex-control-nav li {
	margin-left: 0;
	margin-right: 5px;
}
/* Bxslider */
.bxslider-overlay {
	right: 0;
	left: inherit;
}
.bxslider-overlay:before {
	right: 0;
	left: inherit;
}
.bxslider-title {
	right: 0;
	left: inherit;
}
.overlay-lightbox {
	right: 50%;
	left: inherit;
	margin-right: -35px;
	margin-left: 0;
}
.overlay-link {
	left: 50%;
	right: inherit;
	margin-left: -35px;
	margin-right: 0;
}
.bx-prev {
	right: -30px;
	left: inherit;
	cursor: pointer;
}
.bx-next {
	left: -30px;
	right: inherit;
	cursor: pointer;
}
.bx-wrapper {
	direction: ltr;
}
.bx-wrapper:hover .bx-prev {
	right: 0;
	left: inherit;
}
.bx-wrapper:hover .bx-next {
	left: 0;
	right: inherit;
}
.grid-bxslider {
	direction: rtl;
}
.bx-prev:before {
	content: "\f105";
}
.bx-next:before {
	content: "\f104";
}
/* Contact us */
div.wpcf7 img.ajax-loader {
	left: inherit;
	right: 0;
}
.form-style span.required {
	margin-left: 0;
	margin-right: 3px;
}
/* caption */
.post-content .wp-caption.alignright {
	margin-left: 0;
	margin-right: 31px;
}
.post-content .wp-caption-text {
	margin-left: 10px;
	margin-right: 0;
}
/* default classes */
.alignnone {
	margin-left: 20px;
	margin-right: 0;
}
.alignright, a img.alignright{
	float: left;
	margin-left: 0;
	margin-right: 21px;
}
.alignleft, a img.alignleft {
	float: right;
	margin-left: 21px;
	margin-right: 0;
}
a img.alignnone {
	margin-left: 0;
	margin-right: 21px;
}
.progressbar-title span {
	float: left;
}
.post-content > ul li li,.post-content > ol li li {
	margin-left: 0;
	margin-right: 10px;
}
/* responsive */
/*------------------------------------------------------------------------------*/
/*                    Width : 1200
/*------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
	.grid_1200 .ask-me .col-md-3 {
		text-align: right;
	}
	.grid_1200 .ask-me .col-md-9 {
		float: right;
	}
	.grid_1200 .col-md-3.sidebar {
		float: left;
	}
	.grid_1200 .col-md-3.sidebar .widget_flickr a:nth-child(4n),.grid_1200 #footer .col-md-3 .widget_flickr a:nth-child(3n),.grid_1200 #footer .col-md-3 .widget_portfolio .portfolio-widget-item:nth-child(3n),.grid_1200 .col-md-3.sidebar .widget_portfolio .portfolio-widget-item:nth-child(4n) {
		margin-right: 0;
		margin-left: 5px;
	}
	.grid_1200 #footer .col-md-3 .widget_flickr a:nth-child(4n),.grid_1200 .col-md-3.sidebar .widget_flickr a:nth-child(3n) {
		margin-right: 0;
		margin-left: 0;
	}
	.grid_1200 .col-md-3 .widget_portfolio .portfolio-widget-item:nth-child(4n),.grid_1200 .col-md-3.sidebar .widget_portfolio .portfolio-widget-item:nth-child(3n) {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	/* user-profile */
	.grid_1200 .form-description,.grid_1200 .question_poll_item {
		margin-left: 0;
		margin-right: 18%;
	}
	.grid_1200 ul.login-links {
		float: left;
	}
	/* advertising */
	.grid_1200 .advertising-4a .advertising-1 {
		margin-left: 8px;
		margin-right: 0;
	}
	.grid_1200 .advertising-4a .advertising-1:nth-child(2n+2),.grid_1200 .advertising-4a-2 .advertising-1:nth-child(2n+2) {
		margin-right: 0;
		margin-left: 0;
	}
	.grid_1200 .advertising-4a-2 .advertising-1 {
		margin-left: 18px;
		margin-right: 0;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 960
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 767px) and (max-width: 960px) {
	.crumbs {
		float: right;
	}
	.breadcrumbs h1 {
		margin-right: 0;
		margin-left: 10px;
	}
	/* Widgets */
	.widget_flickr a:nth-child(3n),.widget_flickr a:nth-child(4n),.widget_portfolio .portfolio-widget-item:nth-child(3n),.widget_portfolio .portfolio-widget-item:nth-child(4n) {
		margin-right: 0 !important;
		margin-left: 5px !important;
	}
	.widget_flickr a:nth-child(10n),.widget_portfolio .portfolio-widget-item:nth-child(10n) {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	#footer .widget_flickr a:nth-child(3n),#footer .widget_flickr a:nth-child(4n),#footer .widget_portfolio .portfolio-widget-item:nth-child(3n),#footer .widget_portfolio .portfolio-widget-item:nth-child(4n) {
		margin-right: 0 !important;
		margin-left: 5px !important;
	}
	#footer .widget_flickr a:nth-child(10n),#footer .widget_portfolio .portfolio-widget-item:nth-child(10n)  {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 991px 
/*------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	.crumbs {
		float: right;
	}
	.widget_flickr a:nth-child(3n),.widget_portfolio .portfolio-widget-item:nth-child(3n),#footer .widget_flickr a:nth-child(3n),#footer .widget_portfolio .portfolio-widget-item:nth-child(3n) {
		margin-right: 0 !important;
		margin-left: 5px !important;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 767px 
/*------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	/* Widgets */
	.widget_flickr a:nth-child(9n),.widget_portfolio .portfolio-widget-item:nth-child(9n),#footer .widget_flickr a:nth-child(9n),#footer .widget_portfolio .portfolio-widget-item:nth-child(9n) {
		margin-right: 0 !important;
		margin-left: 5px !important;
	}
	.user-profile-widget .ul_list li {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 480
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 452px) and (max-width: 767px) {
	.ask-me .col-md-9 .publish-question {
		left: 10px;
		right: inherit;
	}
	/* Columns */
	.one_half, .one_third, .two_third, .three_fourth, .two_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .two_sixth, .three_sixth, .four_sixth, .five_sixth {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	/* Header */
	#footer-bottom .social_icons ul li {
		margin-left:0 !important;
		margin-right:10px !important;
	}
	#footer-bottom .social_icons li:first-child {
		margin-left:0 !important;
		margin-right:0 !important;
	}
	/* Footer */
	#footer-bottom_nav.f_right > ul > li:first-child {
		margin-left:0;
		margin-right:0;
	}
	/* Widgets */
	.widget_flickr a:nth-child(3n),.widget_flickr a:nth-child(4n),.widget_portfolio .portfolio-widget-item:nth-child(3n),.widget_portfolio .portfolio-widget-item:nth-child(4n) {
		margin-right: 0 !important;
		margin-left: 5px !important;
	}
	#footer .widget_flickr a:nth-child(3n),#footer .widget_flickr a:nth-child(4n),#footer .widget_portfolio .portfolio-widget-item:nth-child(3n),#footer .widget_portfolio .portfolio-widget-item:nth-child(4n),#footer .widget_flickr a:nth-child(5n),#footer .widget_portfolio .portfolio-widget-item:nth-child(5n) {
		margin-right: 0 !important;
		margin-left: 5px !important;
	}
	/* Respond */
	#respond-inputs p,.full_width #respond-inputs p {
		margin-right:0;
		margin-left:0;
	}
	/* Blog 2 */
	.blog_2.post .post-img {
		margin-right:0;
		margin-left:0;
	}
	/* Shortcodes */
	/* Tabs */
	.tabs-vertical.tabs-long .tab-inner-warp {
		margin-left:0 !important;
		margin-right:204px !important;
	}
	.tabs-style-2.tabs-vertical.tabs-long .tab-inner-warp,.tabs-style-3.tabs-vertical.tabs-long .tab-inner-warp {
		margin-left:0 !important;
		margin-right:200px !important;
	}
	/* Callout */
	.button_right {
		left: inherit !important;
	}
	.callout_inner {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	/* Forms */
	.form-description,.question_poll_item {
		margin-left: 0;
		margin-right: 0;
	}
	.user-profile .user-profile-img {
		float: right;
	}
	/* Questions */
	.question-type-normal .question-type-main,.question-type-poll .question-type-main {
		right: 121px;
		left: inherit;
	}
	.question-type-normal .question-report {
		right: 213px;
		left: inherit;
	}
	.question-type-poll .question-report {
		right: 187px;
		left: inherit;
	}
	.question-type-normal.question h2,.question-type-poll.question h2 {
		padding-right: 0;
		padding-left: 0;
	}
	.single-question.question-type-normal .question-type-main,.single-question.question-type-poll .question-type-main {
		right: 20px;
		left: inherit;
	}
	.single-question.question-type-normal .question-report {
		right: 104px;
		left: inherit;
	}
	.single-question.question-type-poll .question-report {
		right: 78px;
		left: inherit;
	}
	.user-points h3 {
		padding-right: 0;
		padding-left: 0;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 479px 
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {
	.ask-me .col-md-9 .publish-question {
		right: inherit;
		left: 10px;
	}
	/* Columns */
	.one_half, .one_third, .two_third, .three_fourth, .two_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .two_sixth, .three_sixth, .four_sixth, .five_sixth {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	/* Header */
	.header-search {
		float: right;
	}
	#footer-bottom .social_icons ul li {
		margin-left:0 !important;
		margin-right:10px !important;
	}
	#footer-bottom .social_icons.f_left ul li {
		margin-right:0 !important;
		margin-left:10px !important;
	}
	#footer-bottom .social_icons li:first-child {
		margin-left:0 !important;
		margin-right:0 !important;
	}
	/* Footer */
	#footer-bottom_nav.f_right > ul > li,#footer-bottom_nav > ul > li {
		margin-right:0;
		margin-left:15px;
	}
	/* Widgets */
	.widget_flickr a:nth-child(9n),.widget_portfolio .portfolio-widget-item:nth-child(9n),#footer .widget_flickr a:nth-child(9n),#footer .widget_portfolio .portfolio-widget-item:nth-child(9n),.widget_flickr a:nth-child(3n),.widget_portfolio .portfolio-widget-item:nth-child(3n),#footer .widget_flickr a:nth-child(3n),#footer .widget_portfolio .portfolio-widget-item:nth-child(3n) {
		margin-right: 0 !important;
		margin-left: 5px !important;
	}
	/* Blog */
	.blog_2.post .post-img {
		margin-right:0;
		margin-left:0;
	}
	/* Respond */
	#respond-inputs p,.full_width #respond-inputs p {
		margin-right:0;
		margin-left:0;
	}
	/* Comments */
	.children {
		padding-left: 0;
		padding-right: 40px;
	}
	/* Shortcodes */
	/* Tabs */
	.tab a {
		margin-right:0;
		margin-left:0;
	}
	.tabs {
		border-right: none;
		border-left: none;
	}
	.tabs-vertical.tabs-style-2 .tabs, .tabs-vertical.tabs-style-3 .tabs {
		left:inherit;
		right:0;
	}
	.tabs-vertical.tabs-style-2 .tab a.current, .tabs-vertical.tabs-style-3 .tab a.current {
		border-left-color:#d3d3d3;
	}
	.tabs-vertical .tab-inner-warp,.tabs-style-2.tabs-vertical.tabs-long .tab-inner-warp, .tabs-style-3.tabs-vertical.tabs-long .tab-inner-warp {
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.tabs-style-2 .tab a, .tabs-style-3 .tab a {
		margin-right:0;
		margin-left:0;
	}
	/* Callout */
	.button_right {
		right: inherit !important;
		left: inherit !important;
	}
	.callout_inner {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	/* Forms */
	.form-description,.question_poll_item {
		margin-left: 0;
		margin-right: 0;
	}
	.user-profile .user-profile-img {
		float: right;
	}
	.user-question .question-type-main {
		right: 20px;
		left: inherit;
	}
	/* Questions */
	.question-type-normal .question-type-main,.question-type-poll .question-type-main {
		right: 121px;
		left: inherit;
	}
	.question-type-normal .question-report,.question-type-poll .question-report {
		right: 121px;
		left: inherit;
	}
	.question-type-normal.question h2,.question-type-poll.question h2 {
		padding-right: 0;
		padding-left: 0;
	}
	.single-question.question-type-normal .question-type-main,.single-question.question-type-poll .question-type-main {
		right: 20px;
		left: inherit;
	}
	.single-question.question-type-normal .question-report {
		right: 104px;
		left: inherit;
	}
	.single-question.question-type-poll .question-report {
		right: 78px;
		left: inherit;
	}
	.question h2,.question-inner {
		margin-left: 0;
		margin-right: 0;
	}
	.question-author {
		left: inherit;
		right: 20px;
	}
	.user-points h3 {
		padding-right: 0;
		padding-left: 0;
	}
	/* user-profile */
	.user-profile .user-profile-img {
		float: right;
		margin: 0 0 10px 15px;
	}
}