﻿#optionsframework-wrap {
	width: 900px;
	position: relative;
	margin: 15px auto;
}
#optionsframework-wrap * {
	outline: none;
}
#optionsframework-wrap .optionsframework-content {
	position: relative;
	overflow: hidden;
	display: block;
	background-color: #2f3239;
}
#optionsframework-wrap #optionsframework-metabox {
	float: left;
	min-height: 550px;
	width: 674px;
	padding: 15px;
	transition: height 5s;
	-moz-transition: height .5s;
	-webkit-transition: height .5s;
	-o-transition: height .5s;
	border: 1px #ebeff6 solid;
	border-bottom: 0 none;
	background-color: #f7f8f9;
	border-width: 0px 1px 1px 0px;
}
#optionsframework-wrap .postbox {
	margin-bottom: 0;
}
#optionsframework {
	padding: 15px;
	margin: 0 0 10px 0;
	overflow: hidden;
	position: relative;
	display: block;
	clear: both;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	border: 1px #ebeff6 solid;
}
#optionsframework h3 {
	font-size: 23px;
	font-weight: 400;
	color: #ff7361;
	padding: 0 0 10px;
	border-bottom: 1px solid #ebecf2;
}
#optionsframework h4,.rwmb-label label {
	font-size: 14px;
	font-weight: 700;
	color: #1d1f26;
	margin: 10px 0;
	line-height: 24px;
}
.postbox  .rwmb-label {
	width: 20%;
}
#optionsframework input:not([type]), #optionsframework input[type="color"], #optionsframework input[type="email"], #optionsframework input[type="number"], #optionsframework input[type="password"], #optionsframework input[type="tel"], #optionsframework input[type="url"], #optionsframework input[type="text"], #optionsframework textarea, .rwmb-input input[type="color"], .rwmb-input input[type="email"], .rwmb-input input[type="number"], .rwmb-input input[type="password"], .rwmb-input input[type="tel"], .rwmb-input input[type="url"], .rwmb-input input[type="text"],.rwmb-input select, .rwmb-input textarea {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #FFF;
	border: 1px solid #ebecf2;
	min-width: 220px;
	width: 90%;
	padding: 10px;
	color: #757575;
	font-family: tahoma;
	font-size: 12px;
	box-shadow: none;
}
#optionsframework input:not([type]), #optionsframework input[type="color"]:focus, #optionsframework input[type="email"]:focus, #optionsframework input[type="number"]:focus, #optionsframework input[type="password"]:focus, #optionsframework input[type="tel"]:focus, #optionsframework input[type="url"]:focus, #optionsframework input[type="text"]:focus, #optionsframework textarea:focus, .rwmb-input input[type="color"]:focus, .rwmb-input input[type="email"]:focus, .rwmb-input input[type="number"]:focus, .rwmb-input input[type="password"]:focus, .rwmb-input input[type="tel"]:focus, .rwmb-input input[type="url"]:focus, .rwmb-input input[type="text"]:focus, .rwmb-input textarea:focus {
	border-color: #97cf6c;
	box-shadow: none;
}
#optionsframework .section .explain {
	margin-top: 10px;
}
#optionsframework .section .explain.explain-checkbox {
	margin-top: 13px;
	display: inline-block;
}
#optionsframework-wrap h2.nav-tab-wrapper {
	float: left;
	position: relative;
	z-index: 9999;
	width: 195px;
	padding: 0;
	border: none;
}
#optionsframework-wrap h2.nav-tab-wrapper a {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	display: block;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	background-color: transparent;
	border: none;
	color: #FFF;
	margin: 0;
	outline: none;
}
#optionsframework-wrap h2.nav-tab-wrapper a:hover {
	background-color: #222;
}
#optionsframework-wrap h2.nav-tab-wrapper a.nav-tab-active {
	background-color: #ff7361;
}
.optionsframework-header {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-color: #2f3239;
	padding: 15px;
}
.optionsframework-header > a {
	background: url("images/thumbnail.jpg") no-repeat;
	height: 80px;
	width: 80px;
	float: left;
}
.vpanel_social {
	float: right;
}
.vpanel_social ul {
	margin: 0;
}
.vpanel_social li {
	float: right;
	margin: 0;
}
.vpanel_social li a {
	float: right;
	margin: 25px 0 0 5px;
	display: block;
	text-decoration: none;
	height: 30px;
	width: 30px;
	font-size: 15px;
	text-align: center;
	border: 1px solid #FFF;
	color: #FFF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.vpanel_social li a:hover {
	background-color: #ff7361;
	border-color: #ff7361;
}
.vpanel_social li a i {
	line-height: 28px;
}
.optionsframework-header > input.button-primary.vpanel_save {
	margin: 21px 0 0 15px;
}
.optionsframework-footer {
	padding: 20px 15px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #2f3239;
}
.button-secondary#reset_c,.button-primary.vpanel_save {
	background-color: #ff7361;
	height: 38px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	border: none;
	padding: 0 14px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
.button-secondary#reset_c:hover {
	background-color: #e73b3b;
}
.button-primary.vpanel_save {
	background-color: #2ea2cc;
}
.button-primary.vpanel_save:hover {
	background-color: #0074a2;
}
.button-primary.vpanel_save:hover,.button-secondary#reset_c:hover {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.button-secondary#reset_c:focus,.button-primary.vpanel_save:focus,.button-secondary#reset_c:active,.button-primary.vpanel_save:active {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}
.vpanel_checkbox {
	display: inline;
	margin-right: 10px;
	float: left;
	cursor: pointer;
}
.vpanel_checkbox .mark {
	display: inline;
}
.vpanel_checkbox img {
	vertical-align: middle;
	width: 135px;
	height: 48px;
}
.vpanel_checkbox img {
	background: url("images/vpanel_checkbox.png") no-repeat;
}
.vpanel_checkbox img,.vpanel_checkbox-hover img,.vpanel_checkbox-disabled img {
	background-position: 0 -48px;
}
.vpanel_checkbox-checked img,.vpanel_checkbox-checked .vpanel_checkbox-hover img,.vpanel_checkbox-checked .vpanel_checkbox-disabled img {
	background-position: 0 0;
}
.vpanel_multicheck {
	display: block;
	margin: 0 10px 10px 0;
	float: left;
	cursor: pointer;
	clear: left;
}
.vpanel_multicheck .mark {
	display: block;
}
.vpanel_multicheck img {
	vertical-align: middle;
	width: 22px;
	height: 20px;
}
.vpanel_multicheck img {
	background: url("images/vpanel_multicheck.png") no-repeat;
}
.vpanel_multicheck img,.vpanel_multicheck-hover img,.vpanel_multicheck-disabled img {
	background-position: -24px 0;
}
.vpanel_multicheck-checked img,.vpanel_multicheck-checked .vpanel_multicheck-hover img,.vpanel_multicheck-checked .vpanel_multicheck-disabled img {
	background-position: 0 0;
}
#optionsframework .section .controls.controls-upload {
	width: 70%;
}
#optionsframework .section .controls.controls-upload .upload {
	float: left;
}
#optionsframework .section.section-images .controls {
	width: 90%;
}
#optionsframework .controls .of-radio-img-img {
	border: 3px solid #cdcdcd;
}
#optionsframework .controls .of-radio-img-selected {
	border-color: #ff7361;
}
.button.upload-button,.button.upload-button:focus,.remove-file.button,.remove-file.button:focus,.no-image a,.no-image a:focus,#builder .widget-content input[type="button"].button.upload-button-2,#builder .widget-content input[type="button"].button.upload-button-2:focus,#builder_slide .widget-content input[type="button"].button.upload-button-2,#builder_slide .widget-content input[type="button"].button.upload-button-2:focus,#builder_rating_ul .widget-content input[type="button"].button.upload-button-2,#builder_rating_ul .widget-content input[type="button"].button.upload-button-2:focus,#sidebar_add,input[type="button"].button.upload-button-2,.rwmb-input input[type="button"].wp-picker-clear,.wp-picker-input-wrap input[type="button"].wp-picker-default,#builder .widget-content input[type="button"].wp-picker-clear,.wp-picker-container .button {
	float: left;
	padding: 0 10px;
	margin: 0 0 0 5px;
	cursor: pointer;
	color: #FFF;
	font-size: 13px;
	font-weight: 400;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #ff7361;
	border: none;
	height: 37px;
	box-shadow: none;
	line-height: 37px;
	text-decoration: none;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
#builder .widget-content input[type="button"].wp-picker-clear {
	height: 35px;
	line-height: 35px;
}
.section .wp-picker-container .button {
	height: 38px !important;
	line-height: 38px !important;
	padding: 0 10px !important;
	font-size: 13px !important;
	color: #FFF !important;
}
.rwmb-input input[type="button"].button.upload-button-2,.rwmb-input input[type="button"].wp-picker-clear,.wp-picker-container input[type=text].wp-color-picker,.wp-picker-input-wrap input[type="button"].wp-picker-default,#builder .widget-content input[type="button"].wp-picker-clear,.wp-picker-container .button {
	float: left;
}
.rwmb-input input[type="text"].upload_meta,.rwmb-input select {
	width: 445px;
	float: left;
}
#optionsframework .controls input[type=text].of-color.wp-color-picker {
	float: left;
	width: auto;
}
.rwmb-input select {
	float: none;
}
.rwmb-input .styled-select select {
	float: none;
	color: #757575;
	height: 34px !important;
}
.rwmb-input .styled-select::before {
	color: #757575;
}
.rwmb-input input[type="text"],.rwmb-input input[type="password"],.rwmb-input textarea {
	width: 37em;
	border-color: #ddd;
}
.you_avatar {
	width: 85px;
	height: 85px;
	padding: 2px;
	border: 1px solid #e0e0e0;
	background-color: #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.you_avatar img {
	width: 100%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 85px;
}
#builder .widget-content input[type="button"],#builder_slide .widget-content input[type="button"],#builder_rating_ul .widget-content input[type="button"] {
	width: 63px;
	height: 35px;
	line-height: 35px;
}
#builder .widget-content input.upload,#builder_slide .widget-content input.upload {
	float: left;
	margin-left: 0;
}
.no-image a,.no-image a:focus {
	margin: 5px 0 0;
}
.button.upload-button:hover,.remove-file.button:hover,.no-image a:hover,#builder .widget-content input[type="button"].button.upload-button-2:hover,#builder_slide .widget-content input[type="button"].button.upload-button-2:hover,#sidebar_add:hover,input[type="button"].button.upload-button-2:hover {
	background-color: #2f3239;
	color: #FFF;
}
.rwmb-input input[type="button"].wp-picker-clear,.wp-picker-input-wrap input[type="button"].wp-picker-default,#builder .widget-content input[type="button"].wp-picker-clear,.wp-picker-container .button {
	background-color: #2f3239;
}
.rwmb-input input[type="button"].wp-picker-clear:hover,.wp-picker-input-wrap input[type="button"].wp-picker-default:hover,#builder .widget-content input[type="button"].wp-picker-clear:hover,.wp-picker-container .button:hover {
	background-color: #ff7361;
}
.tipsy { font-size: 12px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 7px 10px 6px; text-align: center; }
/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
.vpanel_help {
	float: right;
}
.vpanel_help > div {
	margin-top: -1.5px;
	cursor: pointer;
	float: right;
}
#builder_meta .vpanel_help {
	margin-top: 9px;
}
.rwmb-label {
	margin-top: 10.5px;
}
#ajax-saving,#ajax-reset {
	position: fixed;
	top: 35%;
	right: 35%;
	overflow: hidden;
	background: rgba(0,0,0,.8);
	border: 1px solid #000;
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,.2);
	box-shadow: 0 2px 15px rgba(0,0,0,.2);
	color: #fff;
	font-size: 24px;
	font-weight: 400px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 15px;
	display: none;
	line-height: 34px;
}
#ajax-saving i,#ajax-reset i {
	margin-right: 20px;
	font-size: 28px;
	line-height: 34px;
}
#ajax-saving i {
	color: #9bcf32;
	font-size: 40px;
	margin-left: -15px;
}
#ajax-reset i {
	color: #ffce00;
}
#loading {
	background: #FFF url("images/ajax-loader.gif") no-repeat center center;
	height: 38px;
	width: 38px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: right;
	margin-right: 15px;
	display: none;
}
/* page builder */
div.option-item select {
	height:40px !important;
}
.clear {
	clear: both;
}
.ui-state-highlight {
	background-color: #fffdea;
	border: 1px dashed #ffd38c;
	height: 50px;
}
.ui-state-default {
	border: 1px solid #e5e5e5;
	position:relative;
}
a.del-builder-item,a.del-cat {
	background-color: #ff7361;
	color: #FFF;
	display: block;
	overflow: hidden;
	width: 32px;
	height: 32px;
	float: right;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 9px;
	line-height: 32px;
	font-size: 16px;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
a.del-cat {
	width: 37px;
	height: 37px;
	line-height: 37px;
	margin-left: 6px;
	font-size: 18.5px;
	float: left;
	position: inherit;
}
a.builder-toggle-open, a.builder-toggle-close,a.cats-toggle-open, a.cats-toggle-close {
	float: right;
	color: #34495e;
	background-color: #FFF;
	cursor: pointer;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #e0e6ed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	right: 50px;
	top: 8px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
a.builder-toggle-open:hover, a.builder-toggle-close:hover,a.cats-toggle-open:hover, a.cats-toggle-close:hover {
	color: #FFF;
}
a.builder-toggle-close {
	display: none;
}
.builder_options_s .builder-toggle-open,.builder_options_c .builder-toggle-open,.builder_options_r .builder-toggle-open {
	display: none;
} 
.builder_options_s .builder-toggle-close,.builder_options_c .builder-toggle-close,.builder_options_r .builder-toggle-close {
	display: block;
} 
#builder,#builder_slide,#builder_rating_ul {
	margin-bottom: 0;
}
#sidebars_list {
	margin: 0;
}
#builder li,#builder_slide li,#builder_rating_ul li,#sidebars_list li {
	margin: 5px 0 10px;
	overflow: hidden;
	list-style:none;
}
#sidebars_list li {
	position: relative;
}
#builder li:last-child,#builder_slide li:last-child,#builder_rating_ul li:last-child,#sidebars_list li:last-child {
	margin-bottom: 0;
}
#builder li li,#builder_slide li li,#builder_rating_ul li li {
	margin: 10px;
}
#builder li li:last-child,#builder_slide li li:last-child,#builder_rating_ul li li:last-child {
	margin-bottom: 10px;
}
#builder .widget-head,#builder_slide .widget-head,#builder_rating_ul .widget-head,#sidebars_list .widget-head,#optionsframework .section.cat_name {
	background-color: #eff3f8;
	border-bottom: 1px solid #e0e6ed;
	color: #34495e;
	padding: 15px;
	font-size: 16px;
	cursor: move;
	height: 19px;
}
#sidebars_list .widget-head,#optionsframework .section.cat_name {
	cursor: default;
}
#optionsframework .section.cat_name {
	border: 1px solid #e0e6ed;
	position: relative;
	margin-bottom: 10px;
}
.warp_cat_name {
	display: none;
}
#optionsframework .section.cat_name .cats-toggle-open,#optionsframework .section.cat_name .cats-toggle-close {
	right: 10px;
}
.cats-toggle-close {
	display: none;
}
#optionsframework .section.cat_name h4 {
	margin: 0;
	font-size: 16px;
}
#builder .widget-content,#builder_slide .widget-content,#builder_rating_ul .widget-content {
	background-color:#FFF;
	display: none;
}
#builder .widget-content label,#builder_slide .widget-content label,#builder_rating_ul .widget-content label,.builder_setting label {
	line-height: 0;
	display: block;
	padding: 15px 10px;
	border-bottom: 1px solid #e5e5e5;
}
#builder .widget-content input,#builder .widget-content textarea,#builder_rating_ul .widget-content input,#builder_slide .widget-content input,#builder_slide .widget-content textarea,.builder_setting input,input.builder_shortcode {
	border: 1px solid #ecebf0;
	padding: 10px;
	width: 445px;
	height: 35px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #737574;
}
#builder .widget-content input[type="radio"] {
	width: initial;
	height: 16px;
	float: left;
	margin: 3px 10px 0 0;
}
#builder .widget-content input:focus,#builder_slide .widget-content input:focus,#builder_rating_ul .widget-content input:focus,.styled-select select:focus,.builder_setting input:focus,input.builder_shortcode:focus,#builder .widget-content textarea:focus,#builder_slide .widget-content textarea:focus {
	border-color: #97cf6c;
}
#builder .widget-content input[type=radio]:checked:before {
	background-color: #97cf6c;
}
input.builder_shortcode {
	width: 100%;
}
.builder_setting .builder_head {
	color: #f66960;
	cursor: default !important;
	padding: 15px 10px !important;
	font-size: 15px !important;
	font-weight: bold;
}
.styled-select {
	position: relative;
	float: none;
	clear: right;
	display: inline-block;
	width: 445px;
	height: 35px;
	overflow: hidden;
}
.styled-select::before {
	content: "\f347";
	font: 16px/39px "dashicons";
	padding: 0 11px;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #E5E5E5;
}
.styled-select select {
	border: 0;
	padding: 0 10px;
	outline: none;
	font-weight: normal;
	border-radius: 0;
	-webkit-appearance: button;
	-webkit-user-select: none;
	color: #6C8297;
	border: 1px solid #e5e5e5;
	background: #FFF;
	height: 34px;
	width: 444px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#builder .widget-content label > span,#builder_slide .widget-content label span,#builder_rating_ul .widget-content label span,.builder_setting label span {
	padding-right: 5px;
	width :200px;
	display: inline-block;
	color: #251a2a;
	font-size: 15px;
	font-weight: bold;
	line-height: 34px;
	float: left;
}
.builder_setting label span {
	width: 250px;
}
#builder .widget-content textarea,#builder_slide .widget-content textarea,.builder_setting textarea {
	width:482px;
	height:100px;
}
#builder li.removered .widget-head,#builder_slide li.removered .widget-head,#builder_rating_ul li.removered .widget-head {
	background: #ff0000;
	color: #FFF;
}
#builder li.removered .widget-content,#builder_slide li.removered .widget-content,#builder_rating_ul li.removered .widget-content { 
	background: #ffeded;
}
#the_email {
	width: 50%;
	float: left;
}
.the_email_label {
	border-bottom: none !important;
	float: left;
	padding-top: 20px !important;
	padding-right: 0 !important;
}
.builder_the_email {
	float: left;
	width: 100%;
	position: relative;
}
.builder_the_email input {
	width: 100%;
	padding-right: 35px;
	padding-left: 35px;
}
.add-item,.question_poll,a.add_item_radio,a.add_item_select,a.add_item_checkbox {
	float: left;
	padding: 10px;
	margin: 5px 5px 0 0;
	cursor: pointer;
	color: #FFF;
	font-size: 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #ff7361;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
input.add-item,.question_poll {
	border: none;
}
a.add_item_radio,a.add_item_select,a.add_item_checkbox {
	float: none;
	text-decoration: none;
}
.add-item-3,.add_item_radio,a.add_item_select,a.add_item_checkbox {
	background-color: #36c77c;
}
.add-item:hover,.question_poll:hover,a.add_item_radio:hover,a.add_item_select:hover,a.add_item_checkbox:hover,a.del-builder-item:hover,a.del-cat:hover,a.builder-toggle-open:hover, a.builder-toggle-close:hover,a.cats-toggle-open:hover, a.cats-toggle-close:hover {
	background-color: #333;
}
.builder_textarea {
	width: 100%;
	min-height: 100px;
	resize: none;
}
.major-publishing-actions {
	padding: 10px;
	clear: both;
	border-top: 1px solid #ddd;
	background: #f5f5f5;
	margin: 5px -12px -12px;
	overflow: hidden;
	height: 100%;
}
.builder_import {
	float: right;
}
#builder .checkbox_select li {
	float: left;
	margin: 10px 0 0;
}
#builder li .checkbox_select li:last-child {
	margin-bottom: 0;
}
.checkbox_select img {
	margin-right: 15px;
	border: 3px solid #cdcdcd;
	display: block;
}
.checkbox_select a {
	display: block;
}
.jquery-grid_1200,.jquery-grid_970,.jquery-site_light,.jquery-site_dark,.jquery-sidebar-default,.jquery-layout-full,.jquery-layout-fixed,.jquery-layout-fixed_2,.jquery-skin-default_color,.jquery-skin-default,.jquery-skin-red,.jquery-skin-green,.jquery-skin-moderate_cyan,.jquery-skin-gray,.jquery-skin-orange,.jquery-skin-purple,.jquery-skin-blue,.jquery-skin-yellow,.jquery-skin-strong_cyan,.jquery-footer_1c,.jquery-footer_2c,.jquery-footer_3c,.jquery-footer_4c,.jquery-footer_no,.jquery-sidebar-full,.jquery-sidebar-left,.jquery-sidebar-right {
	display: inline;
	margin-right: 10px;
	float: left;
	cursor: pointer;
}
.jquery-grid_1200 .mark,.jquery-grid_970 .mark,.jquery-site_light .mark,.jquery-site_dark .mark,.jquery-sidebar-full .mark,.jquery-sidebar-right .mark,.jquery-sidebar-left .mark,.jquery-sidebar-default .mark,.jquery-layout-full .mark,.jquery-layout-fixed .mark,.jquery-layout-fixed_2 .mark,.jquery-skin-default_color .mark,.jquery-skin-default .mark,.jquery-skin-red .mark,.jquery-skin-green .mark,.jquery-skin-moderate_cyan .mark,.jquery-skin-gray .mark,.jquery-skin-orange .mark,.jquery-skin-purple .mark,.jquery-skin-blue .mark,.jquery-skin-yellow .mark,.jquery-skin-strong_cyan .mark,.jquery-footer_1c .mark,.jquery-footer_2c .mark,.jquery-footer_3c .mark,.jquery-footer_4c .mark,.jquery-footer_no .mark {
	display: inline;
}
.jquery-grid_1200 img,.jquery-grid_970 img,.jquery-site_light img,.jquery-site_dark img,.jquery-sidebar-full img,.jquery-sidebar-right img,.jquery-sidebar-left img,.jquery-sidebar-default img,.jquery-layout-full img,.jquery-layout-fixed img,.jquery-layout-fixed_2 img,.jquery-skin-default_color img,.jquery-skin-default img,.jquery-skin-red img,.jquery-skin-green img,.jquery-skin-moderate_cyan img,.jquery-skin-gray img,.jquery-skin-orange img,.jquery-skin-purple img,.jquery-skin-blue img,.jquery-skin-yellow img,.jquery-skin-strong_cyan img,.jquery-footer_1c img,.jquery-footer_2c img,.jquery-footer_3c img,.jquery-footer_4c img,.jquery-footer_no img {
	width: 100px;
	height: 70px;
	border: 3px solid #cdcdcd;
	margin: 0 5px 10px 0;
	text-align: center
}
.jquery-skin-default_color img,.jquery-skin-default img,.jquery-skin-red img,.jquery-skin-green img,.jquery-skin-moderate_cyan img,.jquery-skin-gray img,.jquery-skin-orange img,.jquery-skin-purple img,.jquery-skin-blue img,.jquery-skin-yellow img,.jquery-skin-strong_cyan img {
	width: 45px;
	height: 45px;
}
.jquery-footer_1c img,.jquery-footer_2c img,.jquery-footer_3c img,.jquery-footer_4c img,.jquery-footer_no img {
	width: 112px;
	height: 74px;
}
.jquery-grid_1200 img {
	background: url(../images/template_1200.jpg) no-repeat;
}
.jquery-grid_970 img {
	background: url(../images/template_970.jpg) no-repeat;
}
.jquery-site_light img {
	background: url(../images/light.jpg) no-repeat;
}
.jquery-site_dark img {
	background: url(../images/dark.jpg) no-repeat;
}
.jquery-sidebar-full img {
	background: url(../images/sidebar_no.jpg) no-repeat;
}
.jquery-sidebar-right img {
	background: url(../images/sidebar_right.jpg) no-repeat;
}
.jquery-sidebar-left img {
	background: url(../images/sidebar_left.jpg) no-repeat;
}
.jquery-sidebar-default img {
	background: url(../images/sidebar_default.jpg) no-repeat;
}
.jquery-layout-full img {
	background: url(../images/full.jpg) no-repeat;
}
.jquery-layout-fixed img {
	background: url(../images/fixed.jpg) no-repeat;
}
.jquery-layout-fixed_2 img {
	background: url(../images/fixed_2.jpg) no-repeat;
}
.jquery-skin-default_color img {
	background: url(../images/default_color.jpg) no-repeat;
}
.jquery-skin-default img {
	background: url(../images/default.jpg) no-repeat;
}
.jquery-skin-green img {
	background: url(../images/green.jpg) no-repeat;
}
.jquery-skin-red img {
	background: url(../images/red.jpg) no-repeat;
}
.jquery-skin-moderate_cyan img {
	background: url(../images/moderate_cyan.jpg) no-repeat;
}
.jquery-skin-gray img {
	background: url(../images/gray.jpg) no-repeat;
}
.jquery-skin-orange img {
	background: url(../images/orange.jpg) no-repeat;
}
.jquery-skin-purple img {
	background: url(../images/purple.jpg) no-repeat;
}
.jquery-skin-blue img {
	background: url(../images/blue.jpg) no-repeat;
}
.jquery-skin-yellow img {
	background: url(../images/yellow.jpg) no-repeat;
}
.jquery-skin-strong_cyan img {
	background: url(../images/strong_cyan.jpg) no-repeat;
}
.jquery-footer_1c img {
	background: url(../images/footer_1c.png) no-repeat;
}
.jquery-footer_2c img {
	background: url(../images/footer_2c.png) no-repeat;
}
.jquery-footer_3c img {
	background: url(../images/footer_3c.png) no-repeat;
}
.jquery-footer_4c img {
	background: url(../images/footer_4c.png) no-repeat;
}
.jquery-footer_no img {
	background: url(../images/footer_no.jpg) no-repeat;
}
.jquery-grid_1200-hover img,.jquery-grid_970-hover img,.jquery-site_light-hover img,.jquery-site_dark-hover img,.checkbox_select img:hover,.jquery-sidebar-full-hover img,.jquery-sidebar-right-hover img,.jquery-sidebar-left-hover img,.jquery-sidebar-default-hover img,.jquery-layout-full-hover img,.jquery-layout-fixed-hover img,.jquery-layout-fixed_2-hover img,.jquery-skin-default_color-hover img,.jquery-skin-default-hover img,.jquery-skin-green-hover img,.jquery-skin-red-hover img,.jquery-skin-moderate_cyan-hover img,.jquery-skin-gray-hover img,.jquery-skin-orange-hover img,.jquery-skin-purple-hover img,.jquery-skin-blue-hover img,.jquery-skin-yellow-hover img,.jquery-skin-strong_cyan-hover img,.jquery-footer_1c-hover img,.jquery-footer_2c-hover img,.jquery-footer_3c-hover img,.jquery-footer_4c-hover img,.jquery-footer_no-hover img {
	opacity: 0.8;
}
.jquery-grid_1200-checked img,.jquery-grid_970-checked img,.jquery-site_light-checked img,.jquery-site_dark-checked img,.jquery-site_dark-checked .jquery-checkbox-disabled img,.jquery-site_dark-checked .jquery-checkbox-disabled img,.jquery-grid_1200-checked .jquery-checkbox-hover img,.jquery-grid_970-checked .jquery-checkbox-hover img,.jquery-site_light-checked .jquery-checkbox-disabled img,.jquery-site_dark-checked .jquery-checkbox-hover img,.checkbox_select .selected img,.jquery-sidebar-full-checked img,.jquery-sidebar-full-checked .jquery-checkbox-disabled img,.jquery-sidebar-full-checked .jquery-checkbox-hover img,.jquery-sidebar-right-checked img,.jquery-sidebar-right-checked .jquery-checkbox-disabled img,.jquery-sidebar-right-checked .jquery-checkbox-hover img,.jquery-sidebar-left-checked img,.jquery-sidebar-left-checked .jquery-checkbox-disabled img,.jquery-sidebar-left-checked .jquery-checkbox-hover img,.jquery-sidebar-default-checked img,.jquery-sidebar-default-checked .jquery-checkbox-disabled img,.jquery-sidebar-default-checked .jquery-checkbox-hover img,.jquery-layout-full-checked img,.jquery-layout-full-checked .jquery-checkbox-disabled img,.jquery-layout-full-checked .jquery-checkbox-hover img,.jquery-layout-fixed_2-checked img,.jquery-layout-fixed_2-checked .jquery-checkbox-disabled img,.jquery-layout-fixed_2-checked .jquery-checkbox-hover img,.jquery-layout-fixed-checked img,.jquery-layout-fixed-checked .jquery-checkbox-disabled img,.jquery-layout-fixed-checked .jquery-checkbox-hover img,.jquery-skin-default_color-checked img,.jquery-skin-default-checked img,.jquery-skin-red-checked img,.jquery-skin-green-checked img,.jquery-skin-moderate_cyan-checked img,.jquery-skin-gray-checked img,.jquery-skin-orange-checked img,.jquery-skin-purple-checked img,.jquery-skin-blue-checked img,.jquery-skin-yellow-checked img,.jquery-skin-strong_cyan-checked img,.jquery-footer_1c-checked img,.jquery-footer_2c-checked img,.jquery-footer_3c-checked img,.jquery-footer_4c-checked img,.jquery-footer_no-checked img {
	border-color: #ff7361;
}
.checkbox_select,.checkbox_checkbox {
	float: left;
	clear: both;
	width: 90%;
}
.checkbox_select input,.checkbox_checkbox input {
	display: none;
}
.checkbox_checkbox a {
	background: url("images/vpanel_multicheck.png") no-repeat right center;
	height: 20px;
	width: 22px;
	float: left;
	margin-right: 7px;
	-webkit-transition: all 0s ease-in;
	-moz-transition: all 0s ease-in;
	-ms-transition: all 0s ease-in;
	-o-transition: all 0s ease-in;
	transition: all 0s ease-in;
}
.checkbox_checkbox .selected a {
	background-position: left center;
}
#builder .widget-content label label,#builder_slide .widget-content label label,#builder_rating_ul .widget-content label label {
	padding: 0;
	border-bottom: none;
	line-height: 20px;
	margin-bottom: 10px;
}
#collapse-all,#expand-all {
	float: left;
	margin: 10px 10px 0 0;
	cursor: pointer;
	outline: none;
	padding: 10px;
	color: #34495e;
	background-color: #f9f9f9;
	cursor: pointer;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #e0e6ed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#collapse-all:hover,#expand-all:hover {
	color: #FFF;
	background-color: #333;
}
.expand-all2 {
	display:none;
}
#builder_slideshow,#builder_rating {
	display: none;
}
#optionsframework .section .controls.controls-sidebar {
	width: 100%;
}
#optionsframework .section-sidebar {
	padding-bottom: 0;
}
#optionsframework .section-sidebar .explain {
	position: absolute;
	top: 12px;
	right: 10px;
}
#optionsframework .section .controls.controls-sidebar #sidebar_name {
	width: 505px;
	float: left;
	margin-bottom: 5px;
}
#optionsframework .section .controls.controls-sidebar #sidebar_add {
	float: left;
}
#optionsframework .home_page_display,#advertising .rwmb-heading-wrapper {
	background-color: #5dcff3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 0;
}
#optionsframework .home_page_display h4,#advertising .rwmb-heading-wrapper h4 {
	margin: 5px 15px;
	color: #FFF;
	line-height: 22px;
	border-bottom: none;
	text-transform: none;
	padding: 0;
	font-size: 14px;
}
#optionsframework .home_page_display h4 a {
	text-decoration: none;
	color: #111;
}
#optionsframework .home_page_display h4 a:hover {
	text-decoration: underline;
}
.home_page_display .explain.vpanel_help {
	display: none;
}
#section-background_pattern img,#section-author_background_pattern img,#section-cat_background_pattern img,img.cat_background_pattern {
	width: 60px;
	height: 60px;
}
img.site_skin {
	width: 45px;
	height: 45px;
}
.cat_full_screen_background {
	margin-bottom: 20px;
}
.vpanel_checkbox_input {
	width: 50%;
}
.vpanel_checkbox_input p.description {
	margin-top: 10px;
}
.rwmb-input label {
	margin-bottom: 5px;
	display: block;
}
.rwmb-input label.radio_no_margin {
	margin-bottom: 0;
}
.upload-button-widget {
	margin-left: 0 !important;
}
#section-logo_position img,#section-top_panel_skin img,#section-header_skin img,#section-footer_skin img {
	
}
#question_poll_item li {
	border: none;
}
#question_poll_item li input {
	width: 55em;
	float: left;
}
/* reports-warp */
.reports-warp {
	background-color: #FFF;
	margin: 20px 20px 20px 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.reports-head {
	background-color: #2b2d34;
	padding: 10px;
	color: #FFF;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	line-height: 44px;
	font-size: 22px;
}
.reports-head i {
	width: 44px;
	height: 44px;
	line-height: 44px;
	font-size: 22px;
	background-color: #ff7361;
	margin-right: 10px;
}
.reports-padding {
	padding: 20px;
}
.reports-table {
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.reports-table p {
	padding: 0 10px;
}
.reports-table-head {
	background-color: #f0f0f0;
	color: #2b2d34;
	font-weight: bold;
	font-size: 15px;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #e4e4e2;
	overflow: hidden;
	height: 100%;
}
.reports-table-head > div:last-child {
	padding: 20px;
}
.reports-table-item {
	border-bottom: 1px solid #e4e4e2;
	color: #6a6a6a;
	overflow: hidden;
	height: 100%;
	font-size: 13px;
}
.reports-table-items .reports-table-item:last-child {
	border-bottom: none;
}
.report-link {
	float: left;
	width: 40%;
	border-right: 1px solid #e4e4e2;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
}
.report-link a,.report-author a {
	text-decoration: none;
}
.report-author {
	float: left;
	width: 20%;
	border-right: 1px solid #e4e4e2;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
}
.report-date {
	float: left;
	width: 20%;
	border-right: 1px solid #e4e4e2;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
}
.reports-options {
	float: left;
	width: 20%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 20px;
	text-align: center;
}
a.reports-view,a.reports-delete,.reports-new,a.reports-close {
	background-color: #f96a59;
	color: #FFF !important;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-right: 10px;
}
.reports-new,a.reports-close {
	margin-right: 0;
}
a.reports-view:hover,a.reports-delete:hover,a.reports-close:hover,.reports-new {
	background-color: #333;
}
a.reports-close {
	float: right;
}
.reports-hidden {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999998;
	background: rgba(0,0,0,0.7);
}
.reports-pop {
	position: absolute;
	background-color: #FFF;
	border: 1px solid #e5e5e5;
	width: 780px;
	top: 20%;
	left: 50%;
	height: 600px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: -390px;
	z-index: 999999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: none;
}
.reports-pop-scroll {
	height: 100%;
	position: relative;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.reports-pop-inner {
	height: 100%;
	margin: 20px;
}
.reports-pop-warp {
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 20px auto;
	overflow: hidden;
}
.reports-pop-warp > div {
	overflow: hidden;
	height: 100%;
	border-bottom: 1px solid #e4e4e2;
	font-size: 14px;
}
.reports-pop-warp > div:last-child {
	border-bottom: none;
}
.reports-pop-warp > div > div:first-child {
	padding: 20px;
	border-right: 1px solid #e4e4e2;
	background-color: #f0f0f0;
	color: #2b2d34;
	font-weight: bold;
}
.reports-pop-warp > div > div:last-child {
	padding: 20px;
}
.reports-paged a,.reports-paged span {
	float: left;
	background: #2a2c33;
	padding: 7px 10px;
	margin: 20px 10px 0 0;
	text-decoration: none;
	height: 31px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #FFF !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.reports-paged span.current,.reports-paged a:hover {
	background: #f96a59 !important;
}